.rules-container{
	max-width: 800px;
	margin: 0 auto;
}

.current-rules-container{
	margin-top: 15px;
}
.rules-form{
	display: flex;
	flex-direction: row;
	max-height: 55px;
}
.rules-form-field{
	flex: 1;
	display: grid;
	margin: 5px;
}
