.data-form-controls{
	margin: 0 auto;
	width: 800px;
	padding-top: 15px;
	display: flex;
	flex-direction: row;
}

.date-range-control{
	flex: 2;
}
.chart-type-control{
	flex: 1;
}
.auto-update-control{
	flex:1;
}

.source-control{
	flex: 1;
	max-width: 200px;
}

.charts-container{
	width: 100%;
	height: 400px;
}