#root{
	background-color: white;
}

.tweets-container{
	margin: 0 auto;
	padding-top: 15px;
	width: 800px;
}


.tweet-wrapper{
	flex:5;
}

.source-wrapper{
	flex:1;
	align-items: center;
	display:flex;
	justify-content: center;
}

.icon-container{
	text-align: center;
}

.icon-label{
	text-align: center;
	font-size: 70%
}

.control-bar{
	position: relative;
}

.tweet-line{
	display: flex;
}


.tweet-tray{
	transition: all 0.5s;
	list-style-type: none;
	position: relative;
	z-index:-1000;
}