.db-manager-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.db-section{
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
	border-radius: 4px;
	width: 400px;
	margin: 15px;
}
.db-section h1{
	border-radius: 4px 4px 0px 0px;
	background-color: #c7c7c7;
	color: #000000;
	padding: 20px 15px 20px 15px;
	font-size: 110%;
	margin: 0;
	/* font-weight: bold; */
}
.db-section section{
	padding: 20px 15px 20px 15px;
}
