.menu-header{
	background-color: #3f51b5;
	color: #ffffff;
	padding: 20px 15px 20px 15px;
	font-size: 120%;
	font-weight: bold;
}

.menu-link{
	text-decoration: none;
	color: #000000;
	display: inline-flex;
	vertical-align: middle;
}
a svg{
	margin-right: 15px;
}
