.chart-container{
	height: 100%;
}

.chart-wrapper{
	height: 100%;
}

.chart-controls{
	display: flex;
	flex-direction: row;
	height: 55px;
}

.chart-controls > div{
	margin: 5px;
}

.chart-controls button{
	height: 100%;
}

.no-chart-container {
	text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}